::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 8px !important;
}

::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link:focus {
  box-shadow: 0 0 0 0.08rem #bfdbfe !important;
}

::ng-deep .p-accordion .p-accordion-content {
  padding: 6px;
}

.divScroll {
  max-height: 65vh;
  border: 1px solid #00000026;
  padding: 2px 4px;
  /* border-top: 1px solid grey; */
  overflow: auto;
  border-radius: 5px;
}

/* ::ng-deep.p-overlay .p-component .ng-star-inserted {
  background-color: black;
  padding: 3px;
} */

.searchtable {
  float: right;
  margin-top: -4px;
}

.multicol {
  margin-top: -4px;
}

.paginatorShow {
  font-size: 14px;
  font-weight: 400;
  background: none;
  text-align: center;
}

.table-container-home {
  margin: 8px 0;
}

.p-multiselect {
  max-height: 34px;
}

.body-cont {
  width: 99%;
  margin: 5px 6px;
}

.mxw150 {
  max-width: 150px;
}

.mxw200 {
  max-width: 200px;
}

::ng-deep #auditTable .p-datatable-responsive-scroll > .p-datatable-wrapper {
  height: 425px !important;
}

#auditTable th.p-element:nth-child(1),
#auditTable tr.p-element > td:nth-child(1),
::ng-deep #auditTable .p-datatable-thead > tr:nth-child(2) > th:nth-child(1) {
  max-width: 150px;
}

::ng-deep #auditTable .p-datatable-thead > tr:nth-child(2) > th:nth-child(2),
#auditTable tr.p-element > td:nth-child(2),
#auditTable th.p-element:nth-child(2) {
  max-width: 200px;
}

::ng-deep .p-inputmask {
  /* width: 60%; */
  height: 50%;
}

.divScroll {
  max-height: 69vh;
  border: 1px solid #00000026;
  padding: 2px 4px;
  /* border-top: 1px solid grey; */
  overflow: auto;
  border-radius: 5px;
}

.header-container .hader-mul-sel,
.header-container .hader-search,
.header-container .hader-export,
.header-container input {
  /* height: 34px; */
  margin-bottom: 1px;
}

::ng-deep .p-multiselect {
  max-height: 34px;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: unset;
}

::ng-deep .p-column-filter-row .p-column-filter-menu-button {
  margin: 0 0.5rem;
}

::ng-deep
  .p-multiselect-panel
  .p-multiselect-items
  .p-multiselect-item
  .p-checkbox {
  margin: 0 0.5rem;
}

::ng-deep .p-paginator .p-dropdown .p-dropdown-label {
  padding-right: 10px;
}

.emptymessage {
  margin: 0px;
  padding: 0 10px;
  font-size: 14px !important;
  color: red;
  padding-top: 10px;
}
