<div class="container">
  <div class="row row-cols-3 p-0 m-0 align-items-center">
    <div
      *ngFor="let attribute of sectionDetails.attributes; index as i"
      class="col d-flex"
    >
      <!-- *ngIf="translateService.currentLang == 'en'" -->
      <p class="card-text" style="font-weight: 500; margin-right: 10px">
        {{ attribute.attName }}:
      </p>
      <!-- <p
            *ngIf="translateService.currentLang == 'ar'"
            class="card-text fw-bold"
            style="width: 40%"
          >
            {{ attribute.fieldAr }}:
          </p> -->
      <p class="card-text fst-normal">
        <span *ngIf="attribute.attValue">{{ attribute.attValue }}</span>
        <span *ngIf="!attribute.attValue" class="text-danger fw-bold fs-5"
          >---</span
        >
      </p>
    </div>
  </div>
</div>
