.header {
  width: 100%;
  height: 70px;
  background-color: var(--main-color);
}

.rtl {
  direction: rtl;
  margin-right: 10px;
}

.ltr {
  direction: ltr;
  margin-left: 10px;
}

.card-list {
  display: flex;
  gap: 40px;
  margin: 191px 0;
  justify-content: center;
}

.card-list a {
  text-decoration: none;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    align-items: center;
  }
}

.card {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 4px rgb(0 0 0 / 6%);
  cursor: pointer;
  transition: 0.4s;
}

.card img {
  border-radius: 10px;
  margin: 20px 0 20px;
}

.card:hover {
  transform: scale(0.95, 0.95);
  box-shadow: 1px 1px 1px 5px rgb(0 0 0 / 25%);
}

.card:hover .logos {
  opacity: 1;
  transition: 0.4s;
}

.names {
  font-family: "Lato", sans-serif;
  font-size: 17px !important;
  /* color: hsl(0deg 0% 5%); */
  color: black;
}

.logos {
  opacity: 0.85;
}
