.section-header {
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px solid rgb(180, 178, 178);
  padding: 5px 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 14px !important;
  font-weight: 500;
  margin-top: 6px;
  background-color: #f8f9fa;
  color: rgb(54, 54, 54);
}

.con {
  position: relative;
  flex: 1 1 auto;
  padding: 0 5px;
}

.modal-title {
  font-size: 17px !important;
  justify-content: center;
  display: flex;
  width: 100%;
  letter-spacing: 1px;
}

::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 8px;
}

::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link:focus {
  box-shadow: 0 0 0 0.08rem #bfdbfe !important;
}

::ng-deep .p-accordion .p-accordion-content {
  padding: 0;
}

::ng-deep .p-accordion .p-accordiontab .p-accordion-tab {
  margin-bottom: 5px;
}

.control-bar {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.control-bar .btn {
  background-color: #183763;
  color: white;
}
