<div class="con" style="width: 100%">
  <div class="control-bar">
    <div style="display: flex">
      <button class="btn mx-2" (click)="backToRequests()">< Back</button>
      <h4 style="font-size: 14px !important; margin: 4px 0">
        Request ID: {{ requestId }}
      </h4>
    </div>
    <ng-container *ngIf="status !== 'Approved'">
      <button
        *ngIf="!isEditable; else showSaveChanges"
        class="btn mx-2"
        (click)="approveReq()"
      >
        Approve
      </button>
      <ng-template #showSaveChanges>
        <button class="btn" (click)="updateChanges()">Save Changes</button>
      </ng-template>
    </ng-container>
  </div>
  <ng-container *ngFor="let section of requestData">
    <p-accordion>
      <p-accordionTab [selected]="true">
        <ng-template pTemplate="header">
          <div class="fs-6">{{ section.sectionName }}</div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-generate-table
            *ngIf="section.isForm == 0"
            [sectionDetails]="section"
            [isEditable]="isEditable"
          ></app-generate-table>
          <app-generate-form
            [sectionDetails]="section"
            *ngIf="section.isForm == 1"
            [isEditable]="isEditable"
          ></app-generate-form>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </ng-container>
</div>
