.search .col-3,
.search .col-2 {
  margin-bottom: 5px;
}

.search label {
  margin-bottom: 2px;
}

.actions {
  /* float: right; */
  margin-left: 10px;
  margin-top: 30px;
}

.actions .pi {
  margin-left: 2px;
}

.hiddenInput {
  height: 0px !important;
  visibility: hidden;
  padding: 0px;
  float: left;
  margin-top: -10px !important;
}

.formControID .p-inputtext {
  width: -webkit-fill-available;
}

::ng-deep .p-calendar {
  direction: ltr;
}
