<p-table
  #myTable
  id="myTable"
  [value]="rowsData"
  [paginator]="false"
  [columns]="selectedColumns"
  [showCurrentPageReport]="true"
  sortMode="multiple"
  [scrollable]="true"
  scrollHeight="425px"
  styleClass="p-datatable-sm p-datatable-gridlines"
  [globalFilterFields]="selectedColumns"
  [reorderableColumns]="true"
  [metaKeySelection]="true"
  responsiveLayout="scroll"
  selectionMode="multiple"
  [dataKey]="dataKey"
>
  <!-- Start Caption Bar -->
  <ng-template pTemplate="caption">
    <div class="header-container" style="display: none;">
      <div class="hader-mul-sel">
        <!-- <p-multiSelect
          class="multicol"
          appendTo="body"
          [options]="cols"
          [(ngModel)]="selectedColumns"
          optionLabel="header"
          selectedItemsLabel="Selected Columns"
          placeholder="Choose Columns"
          [ngModelOptions]="{ standalone: true }"
        ></p-multiSelect> -->
        <!-- [selectedItemsLabel]="
            'requests.requestsList.selectedColumns' | translate
          "
          [placeholder]="'requests.requestsList.chooseColumns' | translate"
           -->
      </div>
      <div class="hader-search">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            #inVal
            (input)="myTable.filterGlobal(inVal.value, 'contains')"
            id="inputID"
            placeholder="Search"
          />
          <!-- [placeholder]="'requests.requestsList.searchKeyword' | translate" -->
        </span>
      </div>
      <div class="hader-export">
        <button
          type="button"
          class="btn btn-secondary btnNew"
          (click)="resetOnlyTable()"
          title="Clear Table Filters"
        >
          <i class="pi pi-filter-slash"></i>
          Clear Filters
        </button>
      </div>
      <div class="hader-export">
        <button
          type="button"
          class="btn btn-success btnNew"
          (click)="exportExcel()"
          title="Export Excel"
          [disabled]="rowsData.length == 0"
        >
          <i class="pi pi-file-excel"></i>
          Export
        </button>
      </div>
    </div>
  </ng-template>
  <!-- End Caption Bar -->

  <ng-template pTemplate="header" let-columns>
    <tr *ngIf="columns?.length != 0">
      <th
        *ngFor="let col of columns"
        pReorderableColumn
        >
        <!-- pSortableColumn="{{ col.field }}" -->
        <div class="p-d-flex p-jc-between p-ai-center">
          {{ col.header }}
          <!-- <p-sortIcon field="{{ col.field }}"></p-sortIcon> -->
        </div>
      </th>
    </tr>
    <tr>
      <!-- <th></th> -->
      <!-- <th *ngFor="let col of columns">
        <p-columnFilter type="text" field="{{ col.field }}"></p-columnFilter>
      </th> -->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <!-- <td>
        <i
          class="fa-regular fa-pen-to-square fs-4"
          data-bs-toggle="modal"
          data-bs-target="#editRequestModal"
          (click)="editRequest(rowData['requestId'])"
        ></i>
      </td> -->
      <td *ngFor="let col of columns">
        <span>{{ rowData.get(col.field) | handleVoidValue }} </span>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" class="emptymessageTD">
        <h3 class="emptymessage d-flex justify-content-start">
          <!-- {{ "requests.requestsList." + msgErrorApi | translate }} -->
          No data found
        </h3>
      </td>
    </tr>
  </ng-template>
</p-table>
