<header>
  <nav
    class="navbar navbar-expand-lg py-0"
    style="background-color: #9f3636; height: 64px; color: white"
  >
    <p
      class="text-white mx-auto pt-3"
      style="font-size: 19px !important; font-weight: 400"
    >
      WFM Rescheduling
    </p>
  </nav>
</header>
<section *ngIf="!isLoading" class="container-fluid" style="padding-top: 5vh">
  <div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="container border border-1 rounded-2"
      style="width: 37%; background-color: white; padding: 40px 40px"
    >
      <img src="assets/img/hive-work.jpeg" width="100%" height="80%" />
      <div class="form-outline my-2">
        <label class="form-label mb-0"
          >{{ "loginForm.username" | translate }} *</label
        >
        <div class="input-group mb-1">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-user" style="font-size: 0.7rem"></i>
          </span>
          <input type="text" class="form-control" formControlName="username" />
        </div>
        <div
          *ngIf="
            loginForm.get('username')?.touched &&
            loginForm.get('username')?.invalid
          "
        >
          <span
            class="text-danger"
            *ngIf="loginForm.get('username')?.errors?.['required']"
            >{{ "loginForm.validateUser" | translate }}</span
          >
        </div>
      </div>

      <div class="form-outline mb-2">
        <label class="form-label mb-0"
          >{{ "loginForm.password" | translate }} *</label
        >
        <div class="input-group mb-1">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-lock" style="font-size: 0.7rem"></i>
          </span>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
          "
        >
          <span
            class="text-danger"
            *ngIf="loginForm.get('password')?.errors?.['required']"
            >{{ "loginForm.validatePass" | translate }}</span
          >
        </div>
      </div>

      <button
        type="submit"
        class="btn w-100 mt-3 text-light"
        style="background-color: brown"
        [disabled]="loginForm.invalid"
      >
        {{ "loginForm.login" | translate }}
      </button>
    </form>
  </div>
</section>
